a{
	display:block;
	float:left;
	width: 25%;
	line-height: 3em;
	background-color: #efefef;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

a:hover{
	background-color: #d7dddd;
}
a.clicked{
	background-color: red;
}
.display{
	background-color: #292929;
	color: #fff;
	font-size: 2em;
	min-height: 2em;
	text-align: right;
}
#calc{
	width: 400px;
	margin: auto;
}
#zero{
	width: 50%;
}
#special, #egal{
	background-color: #FF8D00;
}